@import "./var/colors";

$size: 10em;

.item {
    width: $size;
    height: $size;
    margin: 2em;
    padding: 0;

    color: $dark;
    font-size: 2em;

    border: 2px solid $green;
    border-radius: 10px;
    background-color: #FFF;

    transition-duration: 0.2s;

    &:hover {
        background: linear-gradient(60deg, $green 0%, $dark 100%);;
        color: #FFF;
        box-shadow: 10px 10px 10px rgba($color: #333, $alpha: 0.3);
        transform: rotateZ(5deg);
        border: none;
        cursor: pointer;
    }

}