@import "var/bootstrap";
@import "var/colors";
@import "item";

.green {
    color: $green;
}

.green.dark {
    color: $dark-green;
}

.line {
    margin: auto;
    border-radius: 2px;
    width: 50%;
    height: 5px;
    margin-top: 5em;
    margin-bottom: 2em;
    background: linear-gradient(160deg, $green 0%, $dark 100%);
}

.page {
    @extend .container;
    background: #FFF;
    color: $dark;
    min-height: 100vh;
    box-shadow: 10px 10px 10px rgba($color: #333, $alpha: 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
