@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Open+Sans&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.text-font {
    font-size: 1.5em;
}

@for $index from 1 to 6 {
    h#{$index} {
        font-family: 'Balsamiq Sans', cursive;
    }
}